body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    text-align: center;
    
}
header h1{
    font-size: 3em;
    font-weight: bold;
    color: white;
    line-height: 1.6;
    border-bottom: 3px solid #009e66;
    display: inline-block;
}
header p{
    color: wheat;
}
#close{
    text-align: right;
}
#close i{
    color: white;
    font-size: 3em;
    margin: 20px;
    
}
.projects{
    text-align: left;
    margin-top: 60px;
    margin-left: 10px;
    
}
.accordion{
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1.5em;
    color: white;
    background: seagreen;
    padding: 10px 20px;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 18px;
    width: 100%;
}
.accordion:hover{
    background-color: white;
    color: #009e66;
}
.panel{
    display: none;
    padding: 0px 18px;
    overflow: hidden;
    width: 100%;
}
.panel img{
    width: 100%;
    object-fit: cover;
}